<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto felas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <form action="" method="post">
        <label for="">Nome:</label><input type="text" name="name" id="name">
        <div>
            <p>Sexo: </p>
            <label for="">Masculino:</label><input type="radio" name="masc" id="masc">
            <label for="">Feminino:</label><input type="radio" name="femal" id="femal">
        </div>
        <label for="">Altura:</label><input type="number" name="name" id="name">
        <label for="">Peso:</label><input type="number" name="name" id="name">
        <label for="">Idade:</label><input type="number" name="age" id="age">

        <button>Reset</button>
        <input type="submit" value="Enviar" id="submit">
    </form>
</body>
</html>